$primary-color: #52baf8;
$complimentary-color: #dbe4eb;
$hold-color: #f97316;
$danger-color: #f4022c;
$success-color: #00bf00;
$warning-color: #e5b112;
$success-color-1: #00b288;
$warning-color-1: #ff9e2d;

$page-bg-color: #f4f7fc;

$primary-color-ripple: #1072b3;
$danger-color-ripple: #a8021d;
$secondary-color: var(--surface-700);

$tab-min-height: 16em;
